.header {
  background-image: -webkit-gradient(linear,
    right top, left bottom,
    from(rgba(153, 133, 133, 0.8)),
    to(rgba(62, 52, 52, 0.7))),
    url("../img/hero.jpg");
  background-image: linear-gradient(to left bottom,
    rgba(153, 133, 133, 0.8),
    rgba(62, 52, 52, 0.7)),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
  // -webkit-clip-path: ellipse(100% 55% at 48% 44%);
  // clip-path: ellipse(100% 55% at 48% 44%);

  &__logo-box {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: rotate .3s;
    animation: rotate .3s;
  }

  &__logo {
    height: 9.5rem;
     color: red;
  }

  &__text-hero {
    position: absolute;
    top: 53%;
    left: 50%;
    color: $color-white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 1rem;
  }

  &__social-media {
    position: absolute;
    top: 80%;
    left: 85%;

    a {
      color: white;
      font-size: 1.7rem;
      padding-right: 20px;
    }
  }
}