.header {
  background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../img/1350.jpg");
  background-size: cover;
  height: 95vh;
  background-position: bottom;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 6.5rem;
    /* the w would be based on h */
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}