.btn--tranparent {
  display: inline-block;
  margin-top: 5rem;
  letter-spacing: .5rem;
  font-size: 1.4rem;
  -webkit-animation: discoverProject .7s ease-in-out .2s;
  animation: discoverProject .7s ease-in-out .2s;
  -webkit-transition: all .2s;
  transition: all .2s;

  &:hover {
    -webkit-transform: translateY(.5rem);
    transform: translateY(.5rem);
    -webkit-box-shadow: 0 .3rem .3rem rgba($color-black, 0.692);
    box-shadow: 0 .3rem .3rem rgba($color-black, 0.692);
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary-light;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid $color-primary-light;
    padding: 3px;
    -webkit-transition: all .2s;
    transition: all .2s; 
  }

  &:hover {
    background-color: $color-primary-light;
    color: $color-white;
    -webkit-box-shadow: 0 1rem 2rem rgba($color-black, 0.692);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.692);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  
  &:active {
    -webkit-box-shadow: 0 .5rem 1rem rgba($color-black, 0.692);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.692);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
