body {
  font-family: 'KoHo', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
}

h1 {
  font-size: 3.8rem;
  -webkit-animation: heading .7s ease-in-out .2s;
  animation: heading .7s ease-in-out .2s;
}

p {
  margin-top: 1rem;
  font-size: 1.6rem;
  -webkit-animation: fadeInP .9s ease-out .3s;
  animation: fadeInP .9s ease-out .3s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.heading-secondary {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from($color-primary-light),to($color-primary-dark));
  background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  -webkit-transition: all .2;
  transition: all .2;
  &:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
            transform: skewY(2deg);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
  }

}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child){
    margin-bottom: 3rem;
  } 
}


